<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVIS Stats</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
    <!-- Collega lo stesso file CSS esterno -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}" class="back-link">Torna alla home</a>
    <h1>Statistiche di Assenze e Ritardi</h1>

    <img src="data:image/png;base64,{{ absence_img }}" alt="Grafico delle assenze" class="stats-img">
    <img src="data:image/png;base64,{{ delay_img }}" alt="Grafico dei ritardi" class="stats-img">

</body>
</html>
